<ion-content [fullscreen]="true">
  <div id="container">
    <button type="button" (click)="getDataTickers()"
      class="button-blue">Refersh</button>

    @for (item of dataTickers; track $index) {
    <div
      class="wrapper">
      <div class="data-center">
        <p class="heading">Rank</p>
        <p class="title">{{ item.rank }}</p>
      </div>
      <div class="data">
        <p class="heading">{{ item.symbol }}</p>
        <p class="title">{{ item.name }}</p>
      </div>
      <div class="data">
        <p class="heading">USD</p>
        <p class="title">{{ item.price_usd }}</p>
      </div>
    </div>
    }

  </div>
</ion-content>
